.login-page{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:70px;

background:linear-gradient(135deg,#2563eb,#1e3a8a,#0f172a);

color:white;

}

.login-left{

width:45%;

}

.login-left h1{

font-size:52px;

font-weight:800;

margin-bottom:10px;

}

.login-left h3{

font-size:28px;

margin-bottom:25px;

color:#dbeafe;

}

.login-left p{

font-size:18px;

line-height:1.8;

margin-bottom:35px;

max-width:500px;

}

.feature{

font-size:18px;

margin-bottom:18px;

padding-left:5px;

}

.login-card{

width:430px;

background:rgba(255,255,255,.95);

padding:45px;

border-radius:22px;

backdrop-filter:blur(20px);

box-shadow:0 20px 60px rgba(0,0,0,.25);

color:#111827;

}

.login-logo{

display:block;

width:170px;

margin:auto;

margin-bottom:25px;

}

.login-card h2{

text-align:center;

font-weight:700;

margin-bottom:8px;

}

.login-subtitle{

text-align:center;

color:#6b7280;

margin-bottom:30px;

}

.password-box{

position:relative;

margin-bottom:20px;

}

.password-icon{

position:absolute;

right:18px;

top:14px;

cursor:pointer;

color:#6b7280;

}

.login-btn{

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

font-size:17px;

font-weight:600;

transition:.3s;

}

.login-btn:hover{

background:#1d4ed8;

transform:translateY(-2px);

}

.version{

display:block;

text-align:center;

margin-top:25px;

color:#6b7280;

}

@media(max-width:900px){

.login-page{

flex-direction:column;

padding:30px;

justify-content:center;

}

.login-left{

width:100%;

text-align:center;

margin-bottom:40px;

}

.login-left h1{

font-size:38px;

}

.login-card{

width:100%;

max-width:430px;

}

}